<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="test">
    <v-app id="">
      <v-toolbar app>
        <v-toolbar-title>Assignments</v-toolbar-title>
      </v-toolbar>
      <v-content>
        <v-container fluid>
          <h3>Question 1</h3>
          <form>
            <v-text-field v-model="question1" label="Question 1"></v-text-field>
          </form>
          <div v-if="answer1">
            <h3>Answer 1:</h3>
            <p>{{answer1}}</p>
          </div>
          <v-btn @click="fnQuestion1">solve</v-btn>
          <br>
          <h3>Question 2</h3>
          <form>
            <v-text-field v-model="question2" label="Question 2"></v-text-field>
          </form>
          <div v-if="answer2">
            <h3>Answer 2:</h3>
            <p>{{answer2}}</p>
          </div>
          <v-btn @click="fnQuestion2">solve</v-btn>
          <br>
          <h3>Question 3</h3>
          <form>
            <v-text-field v-model="question3" label="Question 3"></v-text-field>
          </form>
          <div v-if="answer3">
            <h3>Answer 3:</h3>
            <p>{{answer3}}</p>
          </div>
          <v-btn @click="fnQuestion3">solve</v-btn>
          <br>
        </v-container>
      </v-content>
      <v-footer></v-footer>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script>
    let _cache1 = {};
    let _cache2 = {};
    let _cache2s = {};
    let _cache3 = {};
    new Vue({
      el: '#test',
      data: {
        question1: '3, 5, 9, 15, X',
        answer1: '',
        question2: '(Y + 24)+(10 × 2) = 99',
        answer2: '',
        question3: 'If 1 = 5 , 2 = 25 , 3 = 325 , 4 = 4325 Then 5 = X',
        answer3: '',
      },
      watch: {
        question1: function(val) {
          this.fnQuestion1();
        },
        question2: function(val) {
          this.fnQuestion2();
        },
        question3: function(val) {
          this.fnQuestion3();
        }
      },
      methods: {
        fnQuestion1: function() {
          let result = 'Invalid pattern';
          let question = this.question1.replace(/\s/g, '');
          if (question in _cache1 === false) {
            if (question) {
              let listNumbers = question.split(',');
              let lastString = listNumbers.pop();
              let countList = listNumbers.length;
              if (countList > 1) {
                if (lastString == 'X') {
                  let increase = question1_solve(listNumbers);
                  if (increase) {
                    result = parseFloat(listNumbers[listNumbers.length - 1]) + parseFloat(increase);
                  }
                }
              }
              _cache1[question] = result;
            }
          }

          this.answer1 = _cache1[question];
        },
        fnQuestion2: function() {
          let result = 'Invalid pattern';
          let question = this.question2.replace(/\s/g, '');
          if (question in _cache2 === false) {
            if (question) {
              let matches = question.match(/^\([Y]([\+\-\*\/\×\÷])(\d+)\)([\+\-\*\/\×\÷])\((\d+)([\+\-\*\/\×\÷])(\d+).=(\d+)$/);
              if (matches) {
                result = question2_solve(matches[4], matches[6], matches[5]);
                result = question2_solve(matches[7], result, matches[3], true);
                result = question2_solve(result, matches[2], matches[1], true);
              }
            }
            _cache2[question] = result;
          }

          this.answer2 = _cache2[question];
        },
        fnQuestion3: function() {
          let result = 'Invalid pattern';
          let question = this.question3.replace(/\s/g, '');
          if (question in _cache3 === false) {
            if (question) {
              let matches = question.match(/^If(.*?)Then(\d+)=X$/);
              if (matches) {
                let lists = matches[1].split(',');
                let invalid = false;
                let i = 1;
                let concat = '';
                let Break = '';

                try {
                  lists.forEach(function(value, key) {
                    matches2 = value.match(/^(\d+)=(\d+)$/);
                    if (!matches2) {
                      invalid = true;
                      throw Break;
                    } else {
                      if (i == parseFloat(matches2[1])) {
                        if (i == 1) {
                          concat = matches2[2];
                        } else {
                          concat = matches2[1] + '' + concat;
                        }
                        if (concat != matches2[2]) {
                          invalid = true;
                          throw Break;
                        }
                        ++i;
                      } else {
                        invalid = true;
                        throw Break;
                      }
                    }
                  });
                } catch (e) {
                  if (e !== Break) {
                    throw e;
                  }
                }

                if (!invalid && i == matches[2]) {
                  result = matches[2] + '' + concat;
                }
              }
            }
            _cache3[question] = result;
          }

          this.answer3 = _cache3[question];
        },
      }
    });
    /*####### question1_solve #######*/
    let question1_solve = function(listNumbers, round = 1) {
      if (Array.isArray(listNumbers) && listNumbers.length && round < 3) {
        if (listNumbers.length == 1) {
          return listNumbers[0];
        } else {
          let increase = [];
          let i = 0;
          let sameIncrease = true;
          listNumbers.forEach(function(value, key) {
            if (key) {
              increase.push(parseFloat(value) - parseFloat(listNumbers[key - 1]));
              if (i && increase[i] != increase[i - 1]) {
                sameIncrease = false;
              }
              ++i;
            }
          });
          if (sameIncrease) {
            return increase[0];
          } else {
            let solve = question1_solve(increase, ++round);
            if (solve === false) {
              return false;
            } else {
              return parseFloat(increase[increase.length - 1]) + parseFloat(solve);
            }
          }
        }
      } else {
        return false;
      }
    }
    /*####### question2_solve #######*/
    let question2_solve = function(x, y, operator, reverse = false) {
      let key = x + '-' + y + '-' + operator + '-' + reverse;
      if (key in _cache3 === false) {
        if (operator == '+') {
          if (reverse) {
            result = x - y;
          } else {
            result = x + y;
          }
        } else if (operator == '-') {
          if (reverse) {
            result = x + y;
          } else {
            result = x - y;
          }
        } else if (operator == '*' || operator == '×') {
          if (reverse) {
            result = x / y;
          } else {
            result = x * y;
          }
        } else if (operator == '/' || operator == '÷') {
          if (reverse) {
            result = x * y;
          } else {
            result = x / y;
          }
        } else {
          result = 0;
        }
        _cache3[key] = result;
      }

      return _cache3[key];
    }
  </script>
</body>

</html>
